body{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(226, 225, 225); */
    background: rgb(7,25,82);
    background: linear-gradient(90deg, rgba(7,25,82,1) 0%, rgba(59, 168, 226, 1) 50%, rgba(7,25,82,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    border: none;
    color: rgba(0, 0, 0, 0.123);
}

h2{
    /* display: flex; */
    text-align: center;
    color: blue;
    text-decoration: underline;
    font-style: italic;
    /* align-self: flex-start; */
    /* border: 1px solid black; */
}

h4{
    display: flex;
    margin: 0;
}

.container{
    background-color: rgba(225, 225, 225, 0.1, rgba(225, 225, 225, 0.0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;  
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.80);  

    display: flex;
    flex-direction: column;
    /* row-gap: 5px; */
    justify-content: start;
    align-items: center;
    width: 50vh;
    height: auto;
    /* border: 1px solid black; */
}

.instructionLabel{
    color: hsla(0, 0%, 14%, 0.74);
    float: left;
    margin-top: 14px;
    padding-right: 10px;
    font-size: 11pt;
}

.instructionLabel2{
    float: left;
    margin-top: 10px;
    padding-right: 30px;
    font-size: 11pt;
}

.cyRow{
    margin-bottom: 10px;
    /* padding-left: 65px; */
}

.inputRows{
    margin-bottom: 10px;
}

.cyDisplay{
    font-size: 11pt;
    color: hsla(0, 0%, 14%, 0.87);
    float: right;
    text-align: center;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 60px;
    height: 20px;
    width: 75px;
    /* border: 1px solid black; */
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 85%);
}

.inputField{
    font-size: 11pt;
    text-align: center;
    margin-top: 10px;
    height: 22px;
    width: 94px;
    /* border: 1px solid black; */
    border: none;
    border-radius: 5px;
    background-color: white;
}

.button{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(0, 153, 255);
    height: 35px;
    width: 170px;
    border: none;
    border-radius: 15px;
    font-size: 12pt;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}

button:hover{
    background-color: rgb(4, 111, 182);
}

.display{
    font-size: 11pt;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px;
    text-align: center;
    padding-top: 8px;
    /* border: 1px solid rgb(6, 136, 223); */
    border-radius: 5px;
    height: 30px;
    width: 75px;
    background-color: hsl(204, 83%, 86%);
}
